<!-- start Simple Custom CSS and JS -->
<style type="text/css">
/* Add your CSS code here.

For example:
.example {
    color: red;
}

For brushing up on your CSS knowledge, check out http://www.w3schools.com/css/css_syntax.asp

End of comment */ 

/*
.page-template-template-resource .resource-container .resource-item .resource-title-wrapper, .page-template-template-all-resources .resource-container .resource-item .resource-title-wrapper, .page-template-template-group-resource .resource-container .resource-item .resource-title-wrapper {
   position: relative;
   max-height: 73px;
   min-height: 60px;
   overflow-y: hidden;
}
.page-template-template-resource .resource-container .resource-item .resource-title-wrapper .resource-title a, .page-template-template-all-resources .resource-container .resource-item .resource-title-wrapper .resource-title a, .page-template-template-group-resource .resource-container .resource-item .resource-title-wrapper .resource-title a{
    color:#333;
}
.page-template-template-resource-list .resource-container .resource-header,.page-template-template-all-resources-list .resource-container .resource-header, .page-template-template-group-resource-list .resource-container .resource-header {
   color: #003057;
   font-weight: bold;
}
*/</style>
<!-- end Simple Custom CSS and JS -->
